body {
    font-family: fantasy, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dac6c6ac;
    
}

nav {
    background-color: #333;
    padding: 1em;
  
}
.nav-link {
    text-decoration: none;
    color: rgb(248, 9, 29);
    font-weight: bold;
}


