h2 {
  margin: 0;
}
p {
  margin: 0;
}
#Experience {
  display: flex;
  flex-direction: column;
}
.section_text {
  margin-top: 15px;
}
.section_header {
  margin-top: 15px;
}


#Connect {
  display: flex;
  flex-direction: column;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  width: 30px;
  height: 30px;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

