/* remove extra space around and inside elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  background-color: beige;
}

.nav-link {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.body-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

h2 {
  font-family: thunderman;
}

/* spacing my elements */
section {
  max-width: 80rem;
  padding: 1rem 2rem;
  /* margin: auto - centering elements in css */
}

/* this is my gray box for my elements */
header {
  background-color: rgba(74, 68, 68, 0.138);
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.024);
  margin-bottom: 3rem;
}

/* my gray box */
nav {
  padding-top: 1.4rem;
}

#navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}
.social-icon {
  width: 30px;
  height: 30px;
}
.header_name {
  padding: 1rem 2rem;
}
/* a media query
adding CSS that will only apply to smaller screens (smaller than 670px)
*/
@media (max-width: 720px) { 
.social-icon {
  width: 20px;
  height: 20px;
  }
.section_text {
  font-size: 13px;
 } 
.header_name {
  font-size: 20px;
}
.section_header {
  font-size: 17px;
}
}