/* remove extra space around and inside elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  background-color: beige;
}

a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

h1 {

}
h2 {
  font-family: thunderman;
}

/* spacing my elements */
section {
  max-width: 80rem;
  padding: 1rem 2rem;
  /* margin: auto - centering elements in css */
  margin: auto;
}

/* this is my gray box for my elements */
header {
  background-color: rgba(74, 68, 68, 0.138);
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.024);
  margin-bottom: 3rem;
}

/* my gray box */
nav {
  padding-top: 1.4rem;
}

#navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}
.social-icon {
  width: 30px;
  height: 30px;
}

/* a media query
adding CSS that will only apply to smaller screens (smaller than 670px)
*/
/*
@media (max-width: 720px) { 
 
  }
}